link(rel="stylesheet", href="./out/demo.css")
h1 mahesh
table.table.table-dark
    tr
        td gjhg
        td kgjh
        td kjh
        td kjh
        td jkh
    tr
        td kjk
        td khg
        td kjh
        td hkjh
        td uguhg